</script>
<!--
(What are you doing here? here there is nothing that interests you bro)
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miguel Card</title>
    <!-- Bos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- bos end -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fondillos.css') }}">
</head>
<body>
</body>
</html>

<!--helloda-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/fondotes.css') }}">

<div class="p-4">
    <div class="jumbotron">
            <div class="ml-0">
                <h5 class="ml-0"><h1>Miguel's presentation tag = </h1></h5>

                <h5 class="ml-0">Hi, I'm Miguel, I'm kinda good at in python code also in other languages, I've learned to master the linux terminal regardless of the distribution it is always
    I have 2 years of experience in programming and ethical hacking only 1 year.</h5>

                <h5 class="ml-0"></h5>
                <a class="ml-0" href=""></a>

                <h5 class="ml-0"><h1>My programming networks = </h1></h5>
                <h5 class="ml-0">My Discord = </h5>
              <a class="ml-0" href="https://discord.gg/vu4t8Rd">𝐻𝑜𝓉 & 𝐹𝓇𝑜𝓈𝓉 - OFFᑕIAL</a>

              <h5 class="ml-0"></h5>
              <a class="ml-0" href=""></a>
              
                <h5 class="ml-0">My Discord ID = </h5>
              <a class="ml-0" ></a>M1guelDev#9886</a>

              <h5 class="ml-0"></h5>
              <a class="ml-0" href=""></a>

              <h5 class="ml-0">My GitHub = </h5>
              <a class="ml-0" href="https://github.com/miguelinuxer">MigueLinuxeR</a>

              <h5 class="ml-0"></h5>
              <a class="ml-0" href=""></a>

              <h5 class="ml-0">My YouTube = </h5>
              <a class="ml-0" href="https://www.youtube.com/channel/UCkZt9MzeDE-inLbSHMFYt_w?view_as">Miguel Linuxer</a>

              <h5 class="ml-0"></h5>
              <a class="ml-0" href=""></a>

              <h5 class="ml-0">My Undetectable User = </h5>
                <a class="ml-0" href="https://indetectables.net/memberlist.php?mode=viewprofile&u=125814">M1guelDev</a>

                <h5 class="ml-0"></h5>
                <a class="ml-0" href=""></a>

                <h5 class="ml-0">My V3RMILLION User (Inactive) = </h5>
                <a class="ml-0" href="https://v3rmillion.net/member.php?action=profile&uid=1596476&__cf_chl_captcha_tk__=a5e2ac80b70e3f2bbe493c0eab53ef05907083cc-1598032615-0-AfArXZqFb4-d3GzSlOxz9BgJY3lw8sF4DN2MPkUUFGI8ubImE00KaygGaxeghMca3744CL4_wT5JCwDsnrAirG5OZrpi4zOOfiFiireX3W82lThZsrbJ6aA1ymttOBbPnRqyFAfMErZPRbNRZf0viX74xwAKmWyz8CO-lYrPZN1HBKn3RiT3VHB2cE0wfgYaTqNN0XigGKjFDr-xKkl1keBVBeWHo-BOjRomEOZW_EOfVANF4aDLUMN_EwK1JcVnhwaT_jByS7p6h279wu1rMPSsUcHEsWMmAyIl7trt45GIB3CoualdIzMPXuPZ4KxDtZleffL3H_PfzZKXRMKrLwxf5G6ZGZTRiASsLKWHrhElXmKz4-Qv-94tETSHMetIGWcr6m_L1L12-oNfJfINP0V4yA2ruRAaqBRxn6NG0yQVNo8KyftnEJaBMQOwZqZVLtb3eaakwA9_kZ6rDidEhhEbeWpzorwdJCWBvV-eN-Ckms-gT8SM8ukXGLyUn0kzMYCNfioZqk_JFyTDJl1dXWSSaXesMszWv-1utTTf2xJl">MiguelX12</a>
            </div>
          </div>
</div>
<!--Religion weon culeao-->
<div class="ml-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://piv.pivpiv.dk">( Do not click here o.0 )</a>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item dropdown">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
